#!/usr/bin/env sh

# shellcheck disable=SC2034
{
    set -o allexport

    CHECKPOINT_DISABLE=1
    DO_NOT_TRACK=1
    NEXT_TELEMETRY_DISABLED=1
    NODE_OPTIONS='--no-deprecation'
    NO_UPDATE_NOTIFIER=1

    _TOPP_MAIL_HTTP_PORT=1080
    _TOPP_MAIL_SMTP_PORT=1025
    _TOPP_MONGO_PORT=27017

    set +o allexport
}

has nix && {
    nix_direnv_manual_reload
    use flake . --print-build-logs --verbose
}
