#!/usr/bin/env sh

# shellcheck disable=SC2034
{
    set -o allexport

    CHECKPOINT_DISABLE=1
    DO_NOT_TRACK=1
    NEXT_TELEMETRY_DISABLED=1
    NO_UPDATE_NOTIFIER=1
    PRETTIERD_LOCAL_PRETTIER_ONLY=1

    _TOPP_DB_PORT=27017

    set +o allexport
}

has nix && use flake . --print-build-logs --verbose
