#!/usr/bin/env sh

# shellcheck disable=SC2034
{
    set -o allexport

    CHECKPOINT_DISABLE=1
    DO_NOT_TRACK=1
    NEXT_TELEMETRY_DISABLED=1
    NODE_OPTIONS='--no-deprecation'
    NO_UPDATE_NOTIFIER=1
    PRETTIERD_LOCAL_PRETTIER_ONLY=1

    . .env.development

    set +o allexport
}

has nix && {
    nix_direnv_manual_reload
    use flake . --print-build-logs --verbose
}
