.curved-rectangle {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 15px;
    left: 25%;
    width: 50%;
    height: 75px; /* Adjust the height as needed */
    background-color: orangered; /* Adjust the background color as needed */
    border-top-left-radius: 15px; /* Curved edge on the top left */
    border-bottom-left-radius: 15px; /* Curved edge on the bottom left */
    border-top-right-radius: 15px; /* Curved edge on the top right */
    border-bottom-right-radius: 15px; /* Curved edge on the bottom right */

    /* Center the text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat; /* Adjust the text color as needed */
    font-size: 20px; /* Adjust the font size as needed */
  }

  .curved-rectangle:hover{
    background-color: wheat;
    color: orangered;
  }

  .curvedrectangle {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 15px;
    left: 25%;
    width: 50%;
    height: 75px; /* Adjust the height as needed */
    background-color: wheat; /* Adjust the background color as needed */
    border-top-left-radius: 15px; /* Curved edge on the top left */
    border-bottom-left-radius: 15px; /* Curved edge on the bottom left */
    border-top-right-radius: 15px; /* Curved edge on the top right */
    border-bottom-right-radius: 15px; /* Curved edge on the bottom right */

    /* Center the text vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered; /* Adjust the text color as needed */
    font-size: 20px; /* Adjust the font size as needed */
  }

  .curvedrectangle:hover{
    background-color: greenyellow;
    color: black;
  }

  .cart-icon{
    position: fixed;
    margin-right:550px
  }
  .vertical-words {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .cart-price{
    position: fixed;
    margin-left:500px
  }

  .singlemeal{
    background:var(--white);
    color:var(--textColor);
    border-radius:var(--borderRadius);
    box-shadow:var(--shadow-2);
    transition:var(--transition);
  }
  .art {
    border: 4px solid white; /* 1px solid border with a light gray color (#ddd) */
    padding: 10px; /* Optional: Add padding to give some space inside the border */
  }
  .article {
    border: 4px solid black; /* 1px solid border with a light gray color (#ddd) */
    padding: 10px; /* Optional: Add padding to give some space inside the border */
  }

  .singlemeal:hover{
      box-shadow:var(--shadow-4);
  }
  .singlemeal img{
      height:15rem;
      border-top-left-radius:var(--borderRadius);
      border-top-right-radius:var(--borderRadius);
  cursor:pointer;
  }
  .singlemeal h5{
    padding:0;
    margin:0;
  }
  .singlemeal footer{
    padding:1rem 1.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap:wrap;
  }
