.bcpa{
    background-color:darkred !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.messenger{
    background-color : darkred !important;
    margin-Left : 1150px;
    border: 0px;
    padding: 10px;
}
